name: Publish Docker image

on:
  push:
    branches: [ main ]

jobs:
  push_to_registry:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Set DATE var
        run: echo "DATE=$(date '+%Y-%m-%d_%H.%M.%S')" >> $GITHUB_ENV

      - name: Check out the repo
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v1.14.1
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2.9.0
        with:
          context: .
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/streamlink-autodl:latest
            "${{ secrets.DOCKER_USERNAME }}/streamlink-autodl:${{ env.DATE }}"
      - name: Get name test
        id: get-build-name
        run: |
              imageName=${{ fromJSON(steps.docker-build.outputs.metadata)['image.name'] }}
              echo "::set-output name=image_name::$imageName"
