name: Github Registry

on:
  push:
    branches: 
      - '**'

env:
  REGISTRY: ghcr.io
  IMAGE_NAME: ${{ github.repository }}

jobs:          
  build:
    name: Push Docker Image to Github Registry
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
        
      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v3

      - name: Log into registry ${{ env.REGISTRY }}
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3.3.0
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Extract Docker metadata
        id: meta
        uses: docker/metadata-action@8e5442c4ef9f78752691e2d8f8d19755c6f78e81
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}

      - name: Build and push Docker image
        id: build-and-push
        uses: docker/build-push-action@94f8f8c2eec4bc3f1d78c1755580779804cb87b2
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
      
#      - name: Install cosign
#        uses: sigstore/cosign-installer@v2.4.0        

#      - name: Write signing key to disk
#        run: 'echo "$KEY" > cosign.key'
#        shell: bash
#        env:
#          KEY: ${{ secrets.COSIGN_PRIVATE_KEY }}

#      - name: Sign the published Docker image
#        if: ${{ github.event_name != 'pull_request' }}
#        env:
#          COSIGN_EXPERIMENTAL: "true"
#          COSIGN_PASSWORD: ${{ secrets.COSIGN_PASSWORD }}
#        run: cosign sign --key cosign.key ${{ steps.meta.outputs.tags }}
